:root {
    --font-family: "Playfair Display", sans-serif;
}
body {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 30px;
    background-color: rgb(255, 204, 0);
}
.div {
  border: 3px;
  font-size: 35px;
  font-weight: 500;
}
.pane {
  margin: auto;
}
img {
  width: 350px;
  height: 220px;
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 20px; 
  margin-right: 10px;
  padding: 30px;
  border: 2px solid black;
  background-color: green; 
}
.hidden {
  display: none;
}
  button {
    display: block;
    margin: auto;
    border: 2px solid blue;
    border-radius: 5px;
    padding: 10px;
    background-color: cyan;
    color: blue;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
  }
  button:hover {
    background-color: blue;
    color: cyan;
    border: 2px solid cyan;
  }.div {
    width: 350px;
  height: 220px;
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 20px;
  padding-right: 10px;
  margin-bottom: 30px;
  border: 2px dotted black;
  background-color: green; 
  box-sizing: border-box;
}
.tabs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}